In [3]:
import pandas as pd
music_data = pd.read_csv("music.csv")
music_data

    AGE  gender      gener
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [4]:
md = music_data

In [6]:
mdin = md.drop(columns="gener")
mdin

    AGE  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [9]:
mdout = md.drop(columns=["AGE", "gender"])
mdout

        gener
0      HipHop
1      HipHop
2      HipHop
3        Jazz
4        Jazz
5        Jazz
6   Classical
7   Classical
8   Classical
9       Dance
10      Dance
11      Dance
12   Acoustic
13   Acoustic
14   Acoustic
15  Classical
16  Classical
17  Classical

In [10]:
# we are implimenting "decision tree machine learning model"

In [11]:
from sklearn.tree import DecisionTreeClassifier

In [13]:
model = DecisionTreeClassifier()
model.fit(mdin, mdout)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [14]:
md

    AGE  gender      gener
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [15]:
predictions = model.predict([[21, 1], [22, 0]])
predictions

array(['HipHop', 'Dance'], dtype=object)

In [16]:
# Now to find the accuracy of the model 
# we have to split the data set as training and test data set

In [17]:
from sklearn.model_selection import train_test_split